/* ======================
    Global
====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.illustration {
    width: 100%;
}

@media screen and (min-width: 1024px) {

    .illustration {
        width: 45%;
    }

}

.container {
    max-width: 1125px;
    width: 90%;
    margin: auto;
}


@media screen and (min-width: 1024px) {

    .container {
        max-width: 1140px;
        width: 80%;
        margin: auto;
    }

}

@media screen and (min-width: 1024px) {

    .container {
        width: 95%;
    }

}

.container-flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {

    .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }

}

a {
    text-decoration: none;
}

/* ======================
    Typography
====================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}

/* header */

.header-items {
    text-align: center;
    width: 80%;
    margin: 2em auto;
    max-width: 875px;
}

@media screen and (min-width: 360px) and (max-width: 374px) {

    .header-items {
        width: 85%;
    }
    
}

@media screen and (min-width: 375px) and (max-width: 424px) {

    .header-items {
        width: 75%;
    }
    
}

@media screen and (min-width: 425px) and (max-width: 539px) {

    .header-items {
        width: 75%;
    }
    
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    
    .header-items {
        width: 65%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .header-items {
        width: 50%;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .header-items {
        max-width: 100%;
    }
    
}

.header-items h1 {
    font-size: 1.125rem;
    margin: .75em auto;
    max-width: 795px;
}

.header-items p {
    font-size: .625rem; 
    padding-bottom: 2em;
}

@media screen and (min-width: 360px) and (max-width: 374px) {

    .header-items h1 {
        font-size: 1.375rem;
        width: 80%;

    }
    
    .header-items p {
        font-size: 0.875rem;
    }

}

@media screen and (min-width: 375px) and (max-width: 424px) {
    
    .header-items h1 {
        font-size: 1.375rem;
    }

    .header-items p {
        font-size: 0.875rem;
    }

}

@media screen and (min-width: 425px) and (max-width: 539px) {

    .header-items h1 {
        font-size: 1.625rem;
    }

    .header-items p {
        font-size: 0.9375rem;
    }

}

@media screen and (min-width: 540px) and (max-width: 767px) {

    .header-items h1 {
        font-size: 1.625rem;
    }

    .header-items p {
        font-size: 1rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .header-items h1 {
        font-size: 2.125rem;
    }
    
    .header-items p {
        font-size: 1.125rem;
    }
    
}

@media screen and (min-width: 1024px) {

    .header-items h1 {
        font-size: 2.25rem;
        max-width: 100%;
    }
    
    .header-items p {
        font-size: 1.25em;
        max-width: 100%;
        width: 590px;
        margin: auto;
    }
      
}

@media screen and (min-width: 1280px) {

    .header-items h1 {
        font-size: 2.375rem;
    }
   
}

@media screen and (min-width: 1440px) {

    .header-items h1 {
        font-size: 2.875rem;
    }

}

/* section-hero */

.hero-content .content-wrapper h2 {
    font-size: 4.375rem;
    margin-bottom:  0.1454545em;
}

@media screen and (max-width: 360px) {

    .hero-content .content-wrapper h2 {
        font-size: 3.4375rem;
    }

}

@media screen and (min-width: 1024px) {

    .hero-content .content-wrapper span {
        font-size: 1.125rem;
    }

}

@media screen and (min-width: 1440px) {

    .hero-content .content-wrapper span {
        font-size: 1.25rem;
    }
    
}

/* section-story-card */

.text-items {
    text-align: center;
    order: 2;
    margin: 4em auto;
    max-width: 515px;
}

@media screen and (min-width: 425px) and (max-width: 539px) {

    .text-items {
        width: 90%;
    }
    
}

@media screen and (min-width: 540px) and (max-width: 767px) {

    .text-items {
        width: 70%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .text-items {
        width: 53%;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .text-items {
        order: 1;
        text-align: left;
        align-self: center;
        margin: 0 2em;
    }

    .illustration {
        order: 2;
    }

}

.text-items h3 {
    margin-bottom: 0.5em;
    font-size: 1.375rem;
} 

.text-items span {
    font-size: 0.9375rem;
}



@media screen and (max-width: 360px) {

    .text-items h3 {
        font-size: 1rem;
    }

    .text-items span {
        font-size: 0.6875rem;
    }

}

@media screen and (min-width: 768px) {

    .text-items h3 {
        font-size: 1.75rem;
    }
    
    .text-items span {
        font-size: 1rem;
    }

}

@media screen and (min-width: 1024px) {
    
    .text-items h3 {
        font-size: 1.75rem;
    }
    
}

/* section-build-community */


.section-build-community h2 {
    margin: 1em auto;
}

@media screen and (max-width: 360px) {

    .section-build-community h2 {
        font-size: 1.125rem;
    }

}

@media screen and (max-width: 540px) {

    .section-build-community h2 {
        width: 75%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .section-build-community h2 {
        font-size: 1.75rem;
        width: 60%;
    }

}

@media screen and (min-width: 1024px) {

    .section-build-community h2 {
        font-size: 1.875rem;
    }

}

@media screen and (min-width: 1280px) {

    .section-build-community h2 {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1440px) {

    .section-build-community h2 {
        font-size: 2.125rem;
    }

}

/* ======================
    Typography: end
====================== */

/* =================
    Buttons 
====================*/

.btn-tryIt {
    font-size: 1rem;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
    border-radius: 50px;
    padding: .5rem 1em;
}

@media screen and (max-width: 360px) {

    .btn-tryIt {
        font-size: .7rem;
        font-weight: 600;
    }

}

.getStarted {
    font-size: 0.6875rem;
    display: inline-block;
    color: #ffffff;
    background-color: var(--pink);
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 50px;
    box-shadow: 0px 3px 5px 1px #aaaaaa;
}

.getStarted:active {
    background-color: var(--light-pink);
}

@media screen and (min-width: 360px) {

    .getStarted {
        font-size: .75rem;
    }
    
}

@media screen and (min-width: 425px) {

    .getStarted {
        font-size: .875rem;
    }
    
}

@media screen and (min-width: 768px) {

    .getStarted {
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 1280px) {

    .getStarted {
        font-size: 1.125rem;
    }
    
}

/* ======================
    Buttons: end
====================== */

/* ==================
    Form 
===================== */

.subscribe-form {
    margin-bottom: 4em;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: .75em;
}

.input-field:focus {
    border: 1px solid var(--light-red);
}

@media screen and (min-width: 768px) {

    .input-field {
        width: 65%;
    }
    
}

.submit-btn {
    font-size: 0.875rem;
    color: #ffffff;
    background-color: var(--pink);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    padding: 0.85714em 1.42857em;
}

.submit-btn:active {
    background-color: var(--light-pink);
}

@media screen and (max-width: 360px) {
    
    [submit-btn] {
        font-size: 0.75rem;
    }
    
}

@media screen and (min-width: 768px) {

    .input-button-wrapper {
        flex-direction: row;
        align-items: baseline;
    }
    
    .submit-btn {
        align-self: unset;
        margin-left: 3em;
    }

}

form h3 {
    text-transform: uppercase;
    margin-bottom: .75em;
}

form p,
.contact-info p {
    font-size: .75rem;
    margin-bottom: 1.285714em;
    display: block;
}

form p span {
    display: inline-block;
}

@media screen and (max-width: 360px) {

    form p,
    .contact-info p {
        font-weight: 400;
    } 
    
}

@media screen and (min-width: 1024px) {
    
    form p,
    .contact-info p {
        font-size: 0.875rem;
        font-weight: 600;
    } 
    
}

@media screen and (min-width: 1280px) {
    
    form p,
    .contact-info p {
        width: 340px;
    } 

}

/* ======================
    Form: end
====================== */

/* ======================
    Icons
====================== */

.section-wave-svg {
    width: 100%;
    margin-bottom: -10px; 
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
    font-size: 24px;
    margin: 10px 10px 0 0;
    color: #ffffff;
}

.fa-facebook-square:active,
.fa-twitter-square:active,
.fa-instagram:active {
    color: hsl(170, 100%, 92%);
}

@media screen and (min-width: 1024px) {

    .fa-facebook-square,
    .fa-twitter-square,
    .fa-instagram {
        font-size: 36px;
    }

}


/* ======================
    Icons: end
====================== */



/* ======================
    Sections
====================== */

/* header */


.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    margin: 0 1em;
}

.logo {
    height: 20px;
}

@media screen and (max-width: 360px) {
    
    .logo {
        height: 12px;
    }
    
}

.top {
    margin: 6.25em 0;
}

/* ======== header: end ======== */

/* section-hero */

.hero-content {
    padding: 2em 0;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    
    .hero-content {
        width: 60%;
        margin: 2em auto;
    }

}

.content-wrapper {
    margin-bottom: 4em;
}

.content-wrapper img {
    height: 35px;
    transform: translateX(-200%);
    margin-bottom: 0.75em;
}

@media screen and (max-width: 360px) {

    .content-wrapper img {
        transform: translateX(-125%);
    }

}

/* ======== section-hero: end ======== */

/* section-story-card */ 

.story-card-grow-together,
.story-card-conversations,
.story-card-users {
    padding: 5em 0;
}

.story-card-grow-together,
.story-card-users {
    background-color: var(--very-pale-blue);
}

@media screen and (min-width: 1024px) {

    .story-card-conversations .text-items {
        order: 2;
    }

    .story-card-conversations .illustration {
        order: 1;
    }

}

/* ======== section-story-card: end ======== */

/* section-build-community */

.section-build-community {
    padding: 6em 0;
    text-align: center;
}

/* ======== section-build-communnity: end ======== */

/* footer */

.footer-item-wrapper {
    color: #ffffff;
    background-color: var(--very-dark-cyan);
    padding: 4em 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .footer-item-wrapper {
        padding: 4em;
    }

}

.contact-info {
    order: 2;
}

@media screen and (min-width: 1024px) {

    .contact-info {
        order: 1;
        width: 40%;    
    }

    .subscribe-form {
        order: 2;
        width: 50%;
    }

}

.footer-item-wrapper .logo {
    margin-bottom: 1em;
}

address {
    font-size: .85rem;
    font-style: normal;
}

@media screen and (min-width: 1024px) {

    address.container-flex {
        flex-direction: column;
    }

}

address img {
    margin-right: 10px;
}

address .phone,
address .email {
    display: inline-flex;
    margin-bottom: 1rem;
    align-items: center;
}

/* ======== footer: end ======== */
